// Animação Simples
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s;
}

// Animação Simples Rápida
.slow-enter,
.slow-leave-to {
  opacity: 0;
}

.slow-enter-active,
.slow-leave-active {
  transition: all 1s;
}
