@import "./variaveis";
@import "./animations";
@import "./border_animation";

.bg-dark {
  background-color: #444;
}

.bg-light {
  background-color: #fff;
}

.bg-transparent {
  background-color: transparent!important;
}

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-muted {
  color: rgba( #fff, .5);
}

.hr-base {
  max-width: 300px;
  border: $primary 2px solid;
  margin: 20px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.list-inline {
  list-style-type: none;
  padding-left: 0px!important;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 0;
    margin: 0;
  }
}

