@import "./variaveis";
@import "./animations";

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.hr-base {
  max-width: 300px;
  border: $primary 2px solid;
  margin: 20px 0;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-absolute {
  position: absolute;
}

.p-relative {
  position: relative;
}

.list-inline {
  list-style-type: none;
  padding-left: 0px!important;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    padding: 0;
    margin: 0;
  }
}

